:root{
    --cor-fundo: #031401 ;
    --cor-principal: #18200b ;
    --cor-secundaria: #253321; 
    --cor-destaque: #67f754ee;
    --cor-texto: rgb(223, 255, 215);

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}
